* {
    box-sizing: border-box; 
    margin: 0;
}

.yellow-strip{
    width: 100%;
    height: 5px;
    background-color: #f3cc32;
}
/* header */
.header {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin: 5px;
    padding: 10px;
}

/* logo btn */
.logo-btn{
    margin-left: 90px;
    border: none;
    outline: none;
}

/* logo */
.header img {
    /* border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid; */
    margin-left: 10px;
    margin-top: -7px;
    cursor: pointer;
}

body{
    overflow-x: hidden;  
    position: relative;
    height: 100vh;
    width: 100vw;
}

.main-navbar ul{
    float: right;
    margin-left: 20px;
    margin-top: 8px;
    text-decoration: none;
    width: 656px;
}

/* links */
.main-navigation li{
    position: relative;
    margin-left: 0px;
    margin-right: 0;
    flex-basis: 10%;
    margin-top: 70px;
    display: inline-block;
    font: 15px normal Arial, Helvetica, sans-serif;
    padding: 0px 10px 0px 10px;
    line-height: 18px;
    letter-spacing: 0.01em;
    z-index: 0;
    
}

.main-navigation a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

li.about-us{
    padding-bottom: 10px;
    border-bottom: 3px solid #53af65;
}

li.infrastructure{
    padding-bottom: 10px;
    border-bottom: 3px solid #54baed;
}

li.product{
    padding-bottom: 10px;
    border-bottom: 3px solid #d46400;
}

li.careers{
    padding-bottom: 10px;
    border-bottom: 3px solid #F3CC32;
}

li.contact-us{
    padding-bottom: 10px;
    border-bottom: 3px solid #d6951f;
}

/* bvqi certificate image */
.bvc-img{
    cursor: pointer;
    border: none;
    height: 100px;
    width: 271px;
}
/* homepage navbar */
.home-navbar {
    margin-top: -15px;
    margin-bottom: -3px;
    background-color: rgb(231, 60, 60);
    width: 100%;
    height: 38px;
    padding-left: 550px;
    font: 15px normal Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.home-navbar li{
    display: inline-block;
    padding: 10px;

}

.home-navbar a{
    color: white;
    list-style-type: none;
    text-decoration: none;
}

.home-navbar a:hover{
    color: red;
}
.people:hover, .gallery:hover{
    background-color:rgb(255, 219, 219);
    color: red;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    outline: none;
}



/* section */
.homepage-section img{
    height: auto;
    width: 100%;

}

/* footer */
.footer ul{
    background-color: green;
    color: white;
    padding: 10px;
    height: 40px;
    border: none;
    margin-top: -4px;
}

/* footer links */
.main-footer li{
    display: inline-block;
    list-style-type: none;
    text-align: center;
    font-size: 14px;
    padding-left: 15%;
    font-family: sans-serif;
    letter-spacing: 0.05em;
    margin-left: auto;
    margin-right: auto;
    /* border-right: solid 1px white ; */

}


.celeb-heading h1{
    text-align: center;
    padding: 25px;
    font-size: 25px;
    font-weight: 800px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.celebration-img{
    margin-top: -15px;
    display: flex;
}

.inner-celeb img{ 
    padding: 15px 20px;
}

/*CAREER PAGE - SAKSHI*/

#careers-section {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #e3feeb;
    margin-left: 0px;
    margin-right: 0px;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
   
    
 }

#colorstrip1 {
    width: 100%;
	height: 40px;
	background-color: #f3cc32;
    margin-top: -15px;
}

.main ul {
	position: relative;
	margin-top: 45px;
    padding: 20px;
	list-style-type: circle;
    width: 710px;
    padding-left: 150px;
    padding-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    
}

.main li{
    font-family: Helvetica;
    line-height: 1.42857143;
    font-size: 14px;
    margin-top:-60px;
    padding-bottom: 50px;
}



.hi{
    color: #585656;
    margin-bottom: 15px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 16px;
    padding-left: 150px;
    padding-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    line-height: 20px;
}

.para{
    
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left: 150px;
    padding-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 12px;
}

.career-query {
    font-size: 18px;
    font-family: 'Times New Roman',Verdana, 'Geneva', Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.rgt-img {
	float: right;
	height: 200px;
	margin-left: 10px;
    margin-top: -65px;
    margin-right: 100px;
    float: right;
}

.it{
	margin-top: 20px;
	margin-bottom: 5px; 
    padding-bottom: 5px;
    padding-left: 150px;
    padding-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
}

.form-horizontal{
    
    margin-top: -10px;
	margin-bottom: 0px; 
    padding-bottom: 5px;
    padding-left: 150px;
    padding-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
}

.form-group label{
    font-size: 14px;
    font-weight: bold;
    font-family: Helvetica;
}

.form-control {
    width: 300px;
    height: 34px;  
    border-radius: 4px; 
    border: 0.5px #ccc solid;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: inset 0 1px 1px rgba(37, 24, 226, 0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.description {
    height: 54px;
}

.submit-btn {
    padding: 8px 10px;
    background-color: #fff;
    border-radius: 4px;
    border: 0.5px #ccc solid;
}
/*PRODUCT PAGE - SAKSHI*/

.product-heading h3 {
    color: #585656;
    margin-bottom: 15px;
}

#product-section {
	background-color: #e3feeb;
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #585656;
    line-height: 20px;
    text-align: justify;
    padding-left: 150px;
    padding-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    
    
}

 #colorstrip2{
  width: 100%; height: 40px;
  border-style: solid;
  border-color: #d46400;
  background-color:  #d46400;
  margin-top: -15px;
} 

.main1 {
	position: relative;
    width: 710px;
    margin: 12px 0px;
    
}

.it1{
  margin-top: -200px;
  margin-right: 100px;
  float: right;
  
}

.it1 img{
    margin-right: 10px;   
}

.img2{
    margin-right: 10px;   
    margin-top: -230px;
    margin-right: 90px;
}



.product-table table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .product-table th , td {
    padding: 5px;
    text-align:middle;
}
.product-table th {
   background-color: rgb(209, 72, 72);
   font-weight: bold;
   color: rgb(230, 230, 32);
}

.product-table tr:nth-child(even) {
	background-color: rgb(255, 224, 224);}

.product-table tr:nth-child(odd) {
		background-color: rgb(255, 172, 172);}

caption {
    display: table-caption;
    text-align: center;
  }


  .product-list ul {
	/* background: rgb(12, 146, 12); */
	padding: 20px;
	list-style-type: circle;
    width: 710px;
  }

  .product-list ul li {
	/* background: #ffe5e5; */
	margin: 5px;
    width: 2800px;
    line-height: 3em;
  }

/*ABOUT US PAGE - SHRUTI */
.nav{
    background-color: #53af66;
    margin-top: -25px;
}
  /* change border radius for the tab , apply corners on top*/
  
.nav-tabs > li > a {
    color: white;
  }
.nav-tabs> li > a:visited{
    background-color: #e3feeb !important;
}
.tab-content {
    background-color: #e3feeb;
    padding : 2% 10%;
  }
.img-thumbnail{
    width:  200px;
    height: 500px;
    object-fit: cover;
}
.thumbnail{
  float:right;
}
.single-team{
  text-align: center;
}

